{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <footer class="footer" id="footer">
		<img class="img-fluid" src="{% static 'images/footer1.png' %}">
	</footer> -->

	<div id="footer" style="width: 100%;
    height: 700px;
    background-image: url({% static 'images/footerS.png' %});
    background-size: 100% 100%;" >
	<div data-aos="fade-up"
	data-aos-duration="1000">
	<div style="padding-left:155px; padding-top:150px;">
		<h2 style="color:#e74c3c"><i class="fa fa-google-plus" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:10px;"></i>
			<a style="color:#e74c3c" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sayahatpk@gmail.com">sayahatpk@gmail.com</a></h2>
	</div>
	
	<div style="padding-left:155px; margin-top:50px;">
		<h2 style="color:#e74c3c;"><i class="fa fa-whatsapp" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:20px;"></i>
			<a style="color:#e74c3c;" href="https://api.whatsapp.com/send?phone={{+923321516238}}">Syed Muhammad Arfa</a> ,
			 <a style="color:#e74c3c;" href="https://api.whatsapp.com/send?phone={{+923355422300}}">Wajih Rehman </a></h2>
	</div>
	<div style="padding-left:155px; margin-top:50px;">
		<h2 style="color:#e74c3c;"><i class="fa fa-facebook" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:35px;"></i>
			<a style="color:#e74c3c;"  href="https://www.facebook.com/arfashahji/">arfashahji</a> ,<a style="color:#e74c3c;" href="https://www.facebook.com/wajih.rehman.52"> wajih.rehman.52</a></h2>
	</div>

</div>
	<div style="margin-top: 30px;margin-left: 1350px;" data-aos="fade-up" data-aos-duration="1000">
	<p style="color:#e74c3c;font-size: 16px;">&copy; Copyright 2021 Sayahat Official</p>
	</div>
</div>