{% extends 'AdventureClubs/base.html' %}
{% block body_block %}
<div class="container shadow jumbotron bg-white" style="margin-top:150px;margin-bottom:150px; width: 600px;height: 250px;border-radius: 20px;">
    <h2 class="text-center" style="padding-top: 20px; padding-bottom: 20px;color:#e74c3c">Password reset sent! Check your email.</h2>
    <p style="padding-left: 20px;padding-right: 20px; font-size: large;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock %}