{% extends 'AdventureClubs/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container shadow bg-white jumbotron" style="margin-top:150px;margin-bottom:150px; width: 600px;height: 260px;border-radius: 20px;">
        <form method="post" >
        <h2 class="text-center" style="padding-top: 20px;color:#e74c3c"> Enter email to reset your password </h2>
        {% csrf_token %}
        <div class="text-center">
        <div class="mt-4" style="align-content: center;width: 50%;margin-left: 140px;">
          {{form|crispy}}
        </div>
      </div>
        <div class="text-center">
        <input type="submit" value="Send Me Email" class="hero-btn red-btn mt-5 mb-5">
    </div>
    </form>
</div>
{% endblock %}