{% extends 'AdventureClubs/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="container shadow jumbotron bg-white" style="margin-top:150px;margin-bottom:150px; width: 600px;height: 360px;border-radius: 20px;">
    <h2 style="text-align: center; padding-top: 20px;color:#e74c3c"> Do you want to reset your password? </h2>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-center" style="padding-top: 20px;">
        <input type="submit" value="Send" class="hero-btn red-btn text-center">
        </div>
    </form>
</div>
{% endblock %}