{% extends 'AdventureClubs/base.html' %}
{% block body_block %}
<div class="container shadow jumbotron bg-white" style="margin-top:150px;margin-bottom:150px; width: 600px;height: 240px;border-radius: 20px;">
    <h2 class="text-success text-center py-4"> Congrats. The password has been changed! </h2>
    <p class="text-center" style="font-size: large;">Do you want to login now?</p>
    <div class="text-center">
    <a href="{% url 'club:signIn' %}" class="hero-btn red-btn mt-4 mb-4">Login</a>
</div>
</div>
{% endblock %}