
{%load static%}
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'styles/stylefinal.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
	<!-- <footer class="footer" id="footer">
		<img class="img-fluid" src="{% static 'images/footer1.png' %}">
	</footer> -->
<!-- 
	<div id="footer" style="width: 100%;
    height: 700px;
    background-image: url({% static 'images/footerS.png' %});
    background-size: 100% 100%;" >
	<div data-aos="fade-up"
	data-aos-duration="1000" >
	<div style="padding-left:155px; padding-top:150px;" class="mydivv">
		<h2 style="color:#e74c3c"><i class="fa fa-google-plus" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:10px;"></i>
			<a style="color:#e74c3c" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sayahatpk@gmail.com">sayahatpk@gmail.com</a></h2>
	</div>
	
	<div style="padding-left:155px; margin-top:50px;" class="mydivv">
		<h2 style="color:#e74c3c;"><i class="fa fa-whatsapp" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:20px;"></i>
			<a style="color:#e74c3c;" href="https://api.whatsapp.com/send?phone={{+923321516238}}">Syed Muhammad Arfa</a> ,
			 <a style="color:#e74c3c;" href="https://api.whatsapp.com/send?phone={{+923355422300}}">Wajih Rehman </a></h2>
	</div>
	<div style="padding-left:155px; margin-top:50px;">
		<h2 style="color:#e74c3c;"><i class="fa fa-facebook" style="font-size:36px;color:#e74c3c;cursor: pointer; padding-right:35px;"></i>
			<a style="color:#e74c3c;"  href="https://www.facebook.com/arfashahji/">arfashahji</a> ,<a style="color:#e74c3c;" href="https://www.facebook.com/wajih.rehman.52"> wajih.rehman.52</a></h2>
	</div>
</div>
<div style="margin-top: 30px;margin-left: 1350px;" data-aos="fade-up" data-aos-duration="1000">
	<p style="color:#e74c3c;font-size: 16px;">&copy; Copyright 2021 Sayahat Official</p>
	</div>
</div> -->
<footer class="footer">
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col">
			 
				<ul>
					<li><img src="{% static 'images/logo2.png' %}"></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Our services</a></li>
				 <li><a href="#">Privacy Policy</a></li>
				 <li><a href="#">Affiliate Program</a></li>
					
					
				</ul>
			</div>
			<div class="footer-col">
				<h4>get help</h4>
				<ul>
				 
					<li><a href="#">FAQ</a></li>
					<li><a href="#">shipping</a></li>
					<li><a href="#">returns</a></li>
					<li><a href="#">order status</a></li>
					<li><a href="#">payment options</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Company</h4>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">affiliate program</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
